@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive, sans-serif;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--fonte1);
}

section {
    padding: 5vh;
}

section > p {
    padding-bottom: 1em;
    margin: 1px 0px;
    text-indent: 30px;
}

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
    margin: 5px 0px;
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.7em;
    
}

section.normal li {
    margin-left: 40px;
}

section.imagem {
    background-color: rgba(255, 255, 255, 0.437);    
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.474);
    background-attachment: fixed;
    height: 150px;
}

/* Colocar imagem transparencia e texto não */
/* 
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    color: black;
    text-shadow: 1px 1px 0px black;
} */

section#img {
    background-position: center center;
    background-size: contain;       
    background-repeat: no-repeat;
}

.seguir {
    background-color: lightgrey;
    color: rgb(170, 2, 2);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.seguir:hover {
    background-color: rgba(58, 57, 57, 0.655);
    color: rgb(230, 0, 0);
}

.seguir:active {
    background-color: rgb(49, 3, 3);
    transform: scale(0.97);
}

.seguir a {
    text-decoration: none;
    color: rgb(170, 2, 2);
    font-weight: bold
}

.fim {
    font-size: 3rem;
    font-weight: bold;
}